<div id='page-content'>
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Hello there! Welcome to Alpha blog. Make sure you create your best story here!.</p>
            <hr class="my-4">
            <p>Dive in and get started!</p>
            <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
        </div>
    </div>
</div>

</div>

